body{
    margin: 35px;
}
.card{
    width: 350px;
    height: 450px;
    border: 1px solid lightblue;
    padding: 20px;
   background-color: #f3eeef;
}
.student-img{
    text-align: center;
    padding: 10px;
}
.student-infor{
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.3;
}
.btn{
    width: 80px;
    height: 35px;
    margin-left: 20px;
}
.student-infor .edit-btn{
    
    width: 92px;
    height: 25px;
}
.button-area{
    margin: 50px 100px;
    text-align: end;
}

.add-btn{
    background-color:lightgreen;
}